<% if user_signed_in? %>
<%= render 'layouts/main_content_menu' %>

<div class="row">

  <div class="col-md-2 left-sidebar">
    <%= render 'layouts/left_sidebar_home' if user_signed_in? %>
  </div>
  <div class="sep pull-right" style="height: 610px;">
  </div>
  <div class="col-md-6">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        
        <div class="panel-heading">
          <p><strong><%= pin.user.name if pin.user %></strong>
          </p>
          <%= time_ago_in_words pin.created_at %> ago
        </div>

        <div class="panel-body">
          <p><%= pin.description %></p>
        </div>

        <%= link_to image_tag(pin.image.url), pin %>

        <% if pin.user == current_user %>
          <div class="panel-footer">
            <div class="actions">
              <%= link_to 'Edit', edit_pin_path(pin) %>
              <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
          
        <div id="comment-area">
          <div class="panel-body">
            <p>User's Stats goes here </p>
          </div>
        </div>

      </div>

    <% end %>

    <div class="center">
      <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
<% end %>