<!DOCTYPE html>
<html>
	<head>
		<title>Social Network</title>
		<link type="text/css" rel="stylesheet" href="normalize.css" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<div class="container">
			<%= render 'layouts/header' %>
			<%= render 'pages/top_users' if user_signed_in? %>
			<%= render 'pages/home' unless user_signed_in? %>
				<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-info") %>
				<% end %>
			<%= yield %>
		</div>

	</body>

		<%= render 'layouts/footer' %>
	
</html>
